.App {
  text-align: center;
}

.bar {
  display: inline-flex;
  height: 5px;
  min-width: 100%;
  background-color: white;
}

.top {
  opacity: 0.3;
}

.title {
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  min-width: 85%;
  font-family: 'Script MT', cursive;
  font-weight: bolder;
  line-height: 150px;
}

.socials {
  display: block;
  margin-left: 0;
  margin-right: auto;
  width: 200px;
  margin-top: 1%;
}

.referral {
  display: flex;
  margin-top: 0.5%;
  font-family: 'Script MT';
  font-size: xx-large;
  vertical-align: middle;
  align-content: center;
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px solid black;
  width: 150px;
 	height: 49px;
  color: black;
  cursor: pointer;
}

.referral :hover {
  background-color: black;
  color: white;
}


.logo img {
  height: 100%;
  width: 100px;
  margin-top: 1%;
}

.socials img {
  height: 30px;
  width: 30px;
  margin-left: 5px;
  cursor: pointer;
}

.linkedin {
  display: inline-block;
}

.facebook {
  display: inline-block;
}

.twitter {
  display: inline-block;
}

.github {
  display: inline-block;
}

.socials div {
  justify-content: space-between;
  white-space: nowrap;
}

/*.divider {
  display: block;
  height: 1px;
  background-color: black;
  min-width: 100%;
}*/

.leftBorder {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 10%;
  height: 1000%;
  background-color: rgba(190, 188, 188, 0.5);
}

.rightBorder {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 10%;
  height: 1000%;
  background-color: rgba(190, 188, 188, 0.5);
}

.main {
  display:inline-block;
  width: 80%;
  height: 100%;
}

.main hr {
  background: rgba(0, 0, 0, 0, 0.5);
}

.header {
  position: relative;
  text-align: center;
  display: flex;
  position: relative;
}

.header img {
  display: block;
  height: 20vw;
  width: 100%;
}

.caption {
  position: absolute;
  top: -50px;
  left: 15%;
  font-family: 'Script MT';
  color: black;
  opacity: 0.6;
  line-height: 20vw;
  font-size: larger;
  vertical-align: middle;
}

.intro {
  position: absolute;
  top: -20px;
  left: 15%;
  font-family: 'Script MT';
  color: black;
  line-height: 20vw;
  font-size: xx-large;
  vertical-align: middle;
}

.career_objective {
  position: absolute;
  top: 30px;
  left: 15%;
  font-family: 'Script MT';
  line-height: 20vw;
  font-size: xx-large;
  vertical-align: middle;
}

.career_objective button {
  align-content: center;
  background-color: black;
  box-sizing: border-box;
  width: 100px;
 	height: 30px;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.menu nav{
  background-color: rgba(233, 228, 228, 0.5);
  display: flex;
  margin-right: 5%;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: black;
}

.menu nav a:hover {
  opacity: 0.3;
}

.menu nav a {
  cursor: pointer;
}

.menu body {
  opacity: 0.3;
}

.menu div {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  width: 20%;
  white-space: nowrap;
}

.middle1 {
  display: block;
  min-width: 100%;
  height: 400px;
  background-color: white;
}

.middle1 .about_caption {
  display: inline-block;
  width: 25%;
}

.middle1 .about_caption img {
  height: 20vw;
  width: 90%;
}

.middle1 img:hover {
  opacity: 0.5;
}

.middle1 .about_caption h2 {
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;
  opacity: 0.5;
  text-align: left;
  display: block;
  text-align: center;
  width: 100%;
}

.middle1 .skills_caption {
  display: inline-block;
  margin-top: 30px;
  width: 70%;
}

.middle1 .skills_caption img {
  margin-right: 100px;
  width: 95%;
  height: 15vw;
}

.middle1 .skills_caption h2 {
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;
  opacity: 0.5;
  text-align: center;
  display: block;
  width: 90%;
}

.middle1 .skills_caption h1 {
  font-size: 16px;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
  width: 90%;
}

.middle1 .purpose_caption {
  display: inline-block;
  margin-top: 30px;
  width: 40%;
}

.middle1 .purpose_caption img {
  margin-right: 100px;
  width: 95%;
  height: 15vw;
}

.middle1 .purpose_caption h2 {
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;
  opacity: 0.5;
  text-align: center;
  display: block;
  width: 90%;
}

.middle1 .tips_caption {
  display: inline-block;
  margin-top: 30px;
  width: 40%;
}

.middle1 .tips_caption img {
  width: 95%;
  height: 15vw;
}

.middle1 .tips_caption h2 {
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;
  opacity: 0.5;
  text-align: center;
  display: block;
  width: 90%;
}

.content {
  display: block;
  position: relative;
  font-family: Roboto, sans-serif;
  width: 100%;
  margin-top: 24vw;
}

.about_page {
  display: grid;
  align-items: center;
  /*background-color: rgb(224, 223, 223);*/
  grid-gap: 114.6px;
  gap: 114.6px;
  grid-template-columns: repeat(2, 1fr);
  padding: 133.3px 85.3px;
  line-height: 24px;
}

.about_page h2 {
  display: block;
  position: relative;
  width: 100%;
  left: 50%;
}

.about_page h3 {
  font-size: 16px;
}

.about_page .about_section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.about_page .about_section button {
  align-content: center;
  background-color: black;
  box-sizing: border-box;
  width: 100px;
 	height: 60px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.about_img>img {
  height: 100%;
  width: 100%;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.skills_page {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 24px;
}

.skills_section {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.skills_section ul {
  text-align: left;
}

.skills_section h3 {
  display: block;
  position: relative;
  font-size: 24px;
  text-align: left;
  width: 100%;
  left: 25%;
}

.hard_skills {
  display: grid;
  align-items: center;
  margin-left: 5%;
}

.hard_skills>img {
  height: 120px;
  width: 120px;
  margin-left: 30%;
  margin-top: 5%;
}

.hskill_container {
  margin-left: 7.5%;
  width: 75%;
  box-sizing: border-box;
  border-left: 2px solid black;
}

.soft_skills {
  display: grid;
  align-items: center;
  margin-left: 5%;
}

.soft_skills>img {
  height: 120px;
  width: 120px;
  margin-left: 30%;
  margin-top: 5%;
}

.sskill_container {
  margin-left: 7.5%;
  width: 75%;
  box-sizing: border-box;
  border-left: 2px solid rgb(0, 132, 255)
}

.block {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
  border-radius: 10px;
  align-self: stretch;
  min-height: 250px;
  background-color: rgba(190, 188, 188, 0.5);
  
}

.block img {
  height: 20px;
  width: 20px;
}

.purpose_section {
  display: block;
  position: relative;
  width: 70%;
  left: 15%;
  margin-top: 100px;
  line-height: 24px;
}

.purpose_page ul {
  text-align: left;
}

content h2 {
  font-size: 48px;
}

.purpose_page h3 {
  font-size: 16px;
  text-align: left;
  text-indent: 50px;
}

.tips_page {
  margin-top: 100px;
  text-align: center;
}

.tips_section {
  display: block;
  position: relative;
  width: 70%;
  left: 15%;
  line-height: 24px;
}

.tips_section h3 {
  font-size: 16px;
  text-align: left;
}

.tips_section .collab {
  display: block;
  margin-left: 12.5%;
  height: 300px;
  width: 75%;
}

.tips_section .break {
  display: block;
  height: 200px;
  width: 50%;
}


.tips_section .diagram {
  display: block;
  height: 200px;
  width: 60%;
  margin-left: 20%;
}

.contacts_page {
  margin-top: 100px;
}
.contacts_page h2 {
  display: block;
  position: relative;
  width: 100%;
}

.contacts_section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 60%;
  box-sizing: border-box;
  border-radius: 10px;
  border: solid 2px black;
  background-color: (190, 188, 188, 0.5);
}

.contacts_section .email a {
  display: inline-block;
}

.contacts_section .email img {
  display: inline-block;
  height: 30px;
  width: 30px;
}

.contacts_section .linkedin a{
  display: inline-block;
}

.contacts_section .linkedin img {
  display: inline-block;
  height: 30px;
  width: 30px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
