.App {
  text-align: center;
}

.bar {
  display: inline-flex;
  height: 5px;
  min-width: 100%;
  background-color: white;
}

.top {
  opacity: 0.3;
}

.title {
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  min-width: 85%;
  font-family: 'Script MT', cursive;
  font-weight: bolder;
  line-height: 150px;
}

.socials {
  display: inline-flex;
  justify-content: space-between;
  width: 120px;
  margin-left: 2%;
  margin-top: 1%;
}

.socials img {
  height: 15px;
  width: 20px;
  cursor: pointer;
}

.linkedin {
  display: inline-block;
}

.facebook {
  display: inline-block;
}

.twitter {
  display: inline-block;
}

.github {
  display: inline-block;
}

.socials div {
  white-space: nowrap;
}

/*.divider {
  display: block;
  height: 1px;
  background-color: black;
  min-width: 100%;
}*/

.leftBorder {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 15%;
  height: 200%;
  background-color: rgba(190, 188, 188, 0.5);
}

.rightBorder {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 15%;
  height: 200%;
  background-color: rgba(190, 188, 188, 0.5);
}

.main {
  display:inline-block;
  width: 70%;
  height: 100%;
}

.main hr {
  background: rgba(0, 0, 0, 0, 0.5);
}

.header {
  position: relative;
  text-align: center;
  display: flex;
  position: relative;
}

.header img {
  display: block;
  height: 20vw;
  width: 100%;
}

.caption {
  position: absolute;
  top: -50px;
  left: 15%;
  font-family: 'Script MT';
  color: black;
  opacity: 0.6;
  line-height: 20vw;
  font-size: larger;
  vertical-align: middle;
}

.intro {
  position: absolute;
  top: -20px;
  left: 15%;
  font-family: 'Script MT';
  color: black;
  line-height: 20vw;
  font-size: xx-large;
  vertical-align: middle;
}

.career_objective {
  position: absolute;
  top: 30px;
  left: 15%;
  font-family: 'Script MT';
  line-height: 20vw;
  font-size: xx-large;
  vertical-align: middle;
}

.career_objective button {
  align-content: center;
  background-color: black;
  box-sizing: border-box;
  width: 100px;
 	height: 30px;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.menu nav{
  background-color: rgba(233, 228, 228, 0.5);
  display: flex;
  margin-right: 5%;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: black;
}

.menu a:hover {
  opacity: 0.3;
}

.menu a {
  cursor: pointer;
}

.menu body {
  opacity: 0.3;
}

.menu div {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  width: 20%;
  white-space: nowrap;
}

.middle1 {
  display: block;
  min-width: 100%;
  height: 400px;
  background-color: white;
}

.middle1 .about_caption {
  display: inline-block;
  width: 25%;
}

.middle1 .about_caption img {
  height: 20vw;
  width: 90%;
}

.middle1 img:hover {
  opacity: 0.5;
}

.middle1 .about_caption h2 {
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;
  opacity: 0.5;
  text-align: left;
  display: block;
  text-align: center;
  width: 100%;
}

.middle1 .skills_caption {
  display: inline-block;
  margin-top: 30px;
  width: 70%;
}

.middle1 .skills_caption img {
  margin-right: 100px;
  width: 95%;
  height: 15vw;
}

.middle1 .skills_caption h2 {
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;
  opacity: 0.5;
  text-align: center;
  display: block;
  width: 90%;
}

.middle1 .skills_caption h1 {
  font-size: 16px;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
  width: 90%;
}

.middle1 .purpose_caption {
  display: inline-block;
  margin-top: 30px;
  width: 40%;
}

.middle1 .purpose_caption img {
  margin-right: 100px;
  width: 95%;
  height: 15vw;
}

.middle1 .purpose_caption h2 {
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;
  opacity: 0.5;
  text-align: center;
  display: block;
  width: 90%;
}

.middle1 .tips_caption {
  display: inline-block;
  margin-top: 30px;
  width: 40%;
}

.middle1 .tips_caption img {
  width: 95%;
  height: 15vw;
}

.middle1 .tips_caption h2 {
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;
  opacity: 0.5;
  text-align: center;
  display: block;
  width: 90%;
}

.middle1 div {
  display: inline-block;
}

.content {
  display: block;
  margin-top: 20vw;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.about_page {
  display: block;
  position: relative;
  width: 70%;
  left: 15%;
  text-align: center;
  line-height: 24px;
}

.purpose_page {
  display: block;
  position: relative;
  width: 70%;
  left: 15%;
  text-align: center;
  line-height: 24px;
}

content h2 {
  font-size: 32px;
}

.content h3 {
  font-size: 14px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
